<div class="bg-theme p-5">
    <h1 class="text-white">General Knowledge</h1>
    <p class="text-white ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illo explicabo a asperiores, sint enim quaerat quam accusantium, ab ea recusandae vero totam temporibus voluptates expedita fugit soluta. Delectus, voluptates.</p>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mb-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>