<section class="mt-5">
    <div class="container my-5 pt-3 pb-5 px-5 bg-theme">
        <h1 class="text-white text-center">Terms and Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme">
            <p class="text-primary-theme">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi, dolorem ex expedita aspernatur ut commodi cum numquam ullam laborum, magnam aliquam libero voluptates voluptas illum debitis earum facere distinctio!</p>
            <p class="text-primary-theme">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi, dolorem ex expedita aspernatur ut commodi cum numquam ullam laborum, magnam aliquam libero voluptates voluptas illum debitis earum facere distinctio!</p>
            <p class="text-primary-theme">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi, dolorem ex expedita aspernatur ut commodi cum numquam ullam laborum, magnam aliquam libero voluptates voluptas illum debitis earum facere distinctio!</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-sub text-white p-3">Back to home</button>
            </div>
        </div>
    </div>
</section>