<div class="card my-5 shadow-effect border-0">
    <div class="card-body">
        <h4 class="my-3">
            Comments (15,246)
        </h4>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
            <div class="my-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem cumque mollitia enim illo sed blanditiis ab eum, laborum doloribus ipsa sapiente voluptas quidem placeat amet reiciendis officiis eveniet odit architecto!
            </div>
            <a href="#" class="mt-1 text-decoration-none">Reply</a>
            <a href="#" class="mt-1 text-decoration-none ms-3">View Reply</a>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
            <div class="my-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem cumque mollitia enim illo sed blanditiis ab eum, laborum doloribus ipsa sapiente voluptas quidem placeat amet reiciendis officiis eveniet odit architecto!
            </div>
            <a href="#" class="mt-1 text-decoration-none">Reply</a>
            <a href="#" class="mt-1 text-decoration-none ms-3">View Reply</a>
        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">John Doe</h6>
            <small class="text-danger">LAST UPDATED - SEP 20, 2021</small>
            <div class="my-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem cumque mollitia enim illo sed blanditiis ab eum, laborum doloribus ipsa sapiente voluptas quidem placeat amet reiciendis officiis eveniet odit architecto!
            </div>
            <a href="#" class="mt-1 text-decoration-none">Reply</a>
            <a href="#" class="mt-1 text-decoration-none ms-3">View Reply</a>
        </div>
    </div>
</div>