<div class="container my-5">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect border-0">
                <img src="../../../assets/images/art.jpeg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center mx-3">Design</small>
                    <small class="bg-light text-success text-center mx-3">Featured</small>
                    <small class="bg-light text-info text-center mx-3">Views - 100,233</small>
                    <small class="bg-light text-warning text-center mx-3">Last updated on 06-18-2023</small>

                    <h1 class="my-3">How to start BLOG in 2023</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur laborum expedita obcaecati qui doloremque natus et dolorum aspernatur non odit quasi voluptatem, voluptatum harum vitae blanditiis mollitia, nemo, doloribus iure.
                    Architecto suscipit consequatur delectus nam magnam, iure veritatis necessitatibus? Quam similique ullam quo, molestiae maiores tenetur quas deleniti modi nemo, sunt neque. Sint beatae pariatur dolor asperiores fugiat, voluptatem dolores.
                    Ipsam quidem aperiam non itaque ipsa quis aliquam, vel exercitationem. Doloremque dolorem error saepe quos sunt rem soluta, ab veniam expedita perspiciatis asperiores eos dolores et quas tenetur! Esse, non!
                    Repellat, molestias eveniet? Tempore officiis voluptatibus voluptates velit nobis vero eligendi enim accusamus quisquam vel veritatis, repudiandae illum, placeat labore nemo unde veniam illo. Quo nam mollitia repudiandae vel in.
                    Rerum iure dolores consectetur dolorum minima veritatis nobis quis repellendus nam cupiditate incidunt perspiciatis quos laboriosam, totam modi animi enim necessitatibus beatae quae esse veniam! Et ex ipsum repellat suscipit.
                    Impedit, veritatis. Impedit nisi nobis assumenda neque facere similique at praesentium est perspiciatis officiis fugiat nam enim possimus reprehenderit libero a beatae asperiores, odio et mollitia eum totam quae rerum?
                    Amet laborum, excepturi itaque doloremque placeat in tenetur nisi delectus quas quis sequi dolor voluptate. Dolor maxime ipsa quod nobis totam neque eius porro animi magnam minus! Quidem, sunt culpa!
                    Velit dolorum esse amet iste officiis harum delectus adipisci minus unde expedita, earum qui molestias nam at ipsam perspiciatis. Minus dicta consequatur, magnam omnis accusamus quisquam dolores et vel numquam.
                    Quis quae quo iure. Praesentium quam quis quisquam. Hic vero aut tenetur error inventore deleniti eum praesentium facere, sapiente dignissimos! Dolorem odio repudiandae quisquam alias libero consequatur iste architecto aliquam.
                    Tempore voluptatum perspiciatis, recusandae vitae eveniet illum accusamus labore corrupti mollitia ratione rem ipsa quisquam nostrum explicabo iusto? Ipsam, molestias. Beatae odio nemo aspernatur repellendus quisquam quas enim eaque voluptatem?
                    Dignissimos impedit voluptate vitae, perspiciatis repellendus beatae corporis accusamus quia voluptatibus, facilis, voluptatem libero aperiam aut autem. Quo, omnis libero necessitatibus quos hic saepe minima enim fugit sunt vel. Delectus.
                    Ipsa ea, molestias non ullam laborum recusandae, repellat quae quia quam porro expedita voluptatibus error aliquid architecto veritatis impedit. Dolores dolore quos cumque ipsam odio, ad architecto deleniti neque rerum.
                    Quo dolor assumenda eligendi blanditiis deleniti veritatis omnis nisi. Veritatis perferendis tempora quos nisi necessitatibus temporibus voluptate deleniti nesciunt vero officia in, quia adipisci impedit consequatur a! Dolorum, odio sit!
                    Soluta, quae? Quisquam, quidem nesciunt. Accusantium officia labore odit hic sequi cum quidem consequuntur voluptate voluptates alias doloribus, at nihil tempore suscipit voluptatum sed! Nisi enim ipsam labore nam temporibus?
                    Rem sequi sit ab dolores quaerat, voluptatum, sed nam iure molestiae error aut sunt facilis aliquam impedit similique laborum id? Vero consequuntur ducimus aliquam corporis enim, nam modi ab inventore?
                    Repudiandae deleniti obcaecati error quis sapiente provident sed, rerum facilis commodi, eos debitis, perspiciatis delectus atque laboriosam officiis ab accusamus ipsum voluptas! Vero reiciendis voluptatem recusandae atque laboriosam veniam? Quas.
                    Perspiciatis impedit quaerat debitis iure saepe cum amet est, animi numquam velit laborum voluptates illo, vitae earum? Aut nemo perferendis quasi vel saepe eos est. Delectus labore at aliquid quod.
                    Quod, adipisci doloribus ab tempore officia dicta dolor non. Laudantium, harum dolore? Repudiandae, quas optio, voluptatem dolores obcaecati natus deserunt repellat in cumque maiores aliquid amet quae, numquam quidem quia.
                    Deleniti, cumque. Ipsum optio earum perspiciatis hic qui! At, nostrum ex? Eius tempore dolore excepturi perspiciatis quisquam modi alias in voluptas nemo animi quos natus, libero, ipsam iure explicabo rem.
                    Rerum similique quisquam deserunt voluptas eos iure ea qui laboriosam dignissimos itaque, odio placeat harum aliquam expedita dolores tempore numquam unde minus inventore fugit laudantium! Illo quasi aspernatur culpa enim.</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-list></app-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>