<div class="card shadow-effect">
  <img
    class="card-img-top"
    src="../../../assets/images/post-picture.jpg"
    alt="post-image"
  />
  <div class="card-body">
    <div class="row justify-content-around">
      <small class="bg-light text-danger text-center col-md-3">Design</small>
      <small class="bg-light text-success text-center col-md-3">Feature</small>
      <small class="bg-light text-info text-center col-md-3">Views 3</small>

      <h5 class="mt-2">How to start blogging</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error ullam
        rerum doloribus, et veniam itaque esse molestiae atque iusto quis non,
        nobis sapiente cum recusandae
      </p>
      <small class="col-md-12 text-warning text-start ml-3"
        >Last updated 04-05-2021</small
      >
    </div>
  </div>
</div>
